html {
    background-color:seashell;
    font-family: Times, serif;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.dateBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0.5rem;
    border-top: solid black 0.25rem;
    margin-bottom: 1rem;
    border-bottom: solid black 0.25rem;
}

/* MAIN */

.article_container {
    column-count: 3;
    column-rule: 0.125rem solid black;
    column-gap: 5%;
}

.image_box {
    position: relative;
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 0.125rem;
    padding: 0.5rem;
    transition: all 2s ease;
}

.nextButton {
    position: absolute;
    top: 50%;
    right: 0;
}

.previousButton {
    position: absolute;
    top: 50%;
    left: 0;
}

.thumbnail {
    max-width: 90%;
    /* /* transition: all 2s ease; */
    filter: contrast(350%) grayscale(90%);
}

.image_box:hover{
    filter:none;
    transform:scale(2) translate(50%);
}

.dinkus {
    text-align: center;
}